[submodule "maths/GeneralisedErdosConjecture"]
	path = maths/GeneralisedErdosConjecture
	url = git@github.com:/kai-prince-sfhea/GeneralisedErdosConjecture.git
[submodule "maths/MathsNotes"]
	path = maths/MathsNotes
	url = git@github.com:/kai-prince-sfhea/MathsResearchNotes.git
